.specListingAnswerButtons {
  border: 1px solid #ddd;
  width: 25vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  cursor: pointer;

  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 0.5s;

  &:hover {
    box-shadow: 1px 1px 0px 0px red;
  }
}

.buttonActive {
  box-shadow: 0px 0px 2px 2px gold;
}

.formDiv > div {
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  margin-left: 3em;
}

.formDiv > div > input {
  margin: 1em;
}
