.receiveMethodButtons{
    border: 1px solid #ddd;
    width: 25vw; 
    height: 25vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 42px;
    cursor: pointer;

    animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: .5s;

    &:hover{
        box-shadow: 1px 1px 0px 0px red;
    }
}

#submitButton{
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: .5s;
}

.buttonActive{
    box-shadow: 0px 0px 2px 2px gold;
}

$animationDelay: 1;
@for $i from 1 through 15 {
	.receiveMethodButtons {
		animation-delay: #{0.3+($i)/720}s;
    }
	#submitButton {
		animation-delay: #{0.3+($i)/720}s;
    }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}