.map{
    width: 80vw !important;
    height: 50vh !important;
}

.pinBox{
    
    display: grid;
    width: 175px;
    height: 50px;
    margin-right: 1.337vw;
    grid-template-columns: repeat(5, 1fr)

}

.pinBox > div{
    width: 100%;
    margin: 0em;
    width: 35px;
    height: 35px;
    margin-right: .3em;
    border-radius: 50%;
    border: 2px solid #811411;
    box-shadow: 1px 1px 1px 1px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    // padding:.5em;
    box-sizing: border-box;
}


.pinBox > div > span{
    // padding-left: .2em;
    font-size:24px;
    color: white;
    padding-top: 2px;
}

.pinBox:hover{
    cursor: pointer;
}