.map{
    width: 80vw !important;
    height: 50vh !important;
}

.pinBox{
    
    display: grid;
    // width: 45vw;
    margin-right: 1.337vw;
    grid-template-columns: repeat(5, 1fr)
}

.pinBox > p{
    width: 100%;
    margin: 0em;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}